# Name of the workflow
name: CI Pipeline (Build & Test)
on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

  
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          
          node-version: '20.x'
    
          cache: 'npm'

    
      
      - name: Install dependencies
        run: npm ci

  
  
      - name: Run Lint
        run: npm run lint

   
      - name: Run Unit Tests
        run: npm run test:unit

      
      - name: Build project
        run: npm run build